<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Courses</title>

    <!-- CSS File HOME-->
    <link rel="stylesheet" href="/public/css/course_page.css">

    <!-- Shortcut Icon -->
    <link rel="shortcut icon" href="/public/img/logo1.png">

    <!-- **********CSS END********** -->
</head>

<body>

    <div class="container">

        <!-- NAVIGATION BAR - START -->
        <div class="sidebar-container">
            <div class="siderbar ">
                <div class="logo_content">
                    <div class="logo">
                        <div class="logo_name">ALec</div>
                    </div>
                    <i class="fas fa-bars" id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li>
                        <a href="#">
                            <i class="fas fa-tachometer-alt"></i>
                            <span class="links_name">Dashboard</span>
                        </a>
                        <span class="tooltip">Dashboard</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question-circle"></i>
                            <span class="links_name">Ask Question</span>
                        </a>
                        <span class="tooltip">Ask Question</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-graduation-cap"></i>
                            <span class="links_name">My Courses</span>
                        </a>
                        <span class="tooltip">My Courses</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-chart-bar"></i>
                            <span class="links_name">Review</span>
                        </a>
                        <span class="tooltip">Review</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-comment-alt"></i>
                            <span class="links_name">Forum</span>
                        </a>
                        <span class="tooltip">Forum</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-medal"></i>
                            <span class="links_name">Leaderboard</span>
                        </a>
                        <span class="tooltip">Leaderboard</span>
                    </li>


                    <div class="profile_content">
                        <div class="profile">
                            <div class="profile_details">
                                <img src="/public/img/profile-picture.jpg " alt="">
                                <div class="name_job">
                                    <div class="name">Louella Rhodes</div>
                                    <div class="job">Lecturer</div>
                                </div>
                            </div>
                            <i class="fas fa-sign-out-alt" id="log_out"></i>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- NAVIGATION BAR - END -->


        <div class="home-content">
            <!-- CARD LIST START -->
            <div class="card-container center">

                <!-- CARD START -->
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>SCS2201</h2>
                            <h3>Data Structures and Algorithms III</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">

                            <div class="percentage-container">
                                <div class="skills">
                                    <div class="percent">
                                        <div class="progress" style="width: 87%;"></div>
                                    </div>
                                    <span class="subject-value">87%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- CARD END -->

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>SCS2201</h2>
                            <h3>Data Structures and Algorithms III</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">

                            <div class="percentage-container">
                                <div class="skills">
                                    <div class="percent">
                                        <div class="progress" style="width: 87%;"></div>
                                    </div>
                                    <span class="subject-value">87%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>SCS2201</h2>
                            <h3>Data Structures and Algorithms III</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">

                            <div class="percentage-container">
                                <div class="skills">
                                    <div class="percent">
                                        <div class="progress" style="width: 87%;"></div>
                                    </div>
                                    <span class="subject-value">87%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>SCS2201</h2>
                            <h3>Data Structures and Algorithms III</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">

                            <div class="percentage-container">
                                <div class="skills">
                                    <div class="percent">
                                        <div class="progress" style="width: 87%;"></div>
                                    </div>
                                    <span class="subject-value">87%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>SCS2201</h2>
                            <h3>Data Structures and Algorithms III</h3>
                        </div>
                    </div>

                    <div class="face face2">
                        <div class="content">

                            <div class="percentage-container">
                                <div class="skills">
                                    <div class="percent">
                                        <div class="progress" style="width: 87%;"></div>
                                    </div>
                                    <span class="subject-value">87%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




                <!-- CARD LIST END -->

            </div>

            <!-- FOOTER - START -->

            <footer class="sticky-footer">
                <!-- <h2>Footer Stick to the Bottom</h2> -->
                <!-- <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Ask Question</a></li>
                <li><a href="#">My Courses</a></li>
                <li><a href="#">Review</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Leaderboard</a></li>
            </ul> -->
                <p> © Copyright ALec 2021.</p>
            </footer>

            <!-- FOOTER - END -->

            <div class="pop-up">

            </div>

            <div class="notification-container" onclick="showNotifycation()">
                <i class="fas fa-bell bell-notification"></i>
            </div>
        </div>



        <!-- FontAwesome Icon -->
        <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>

        <!-- **********JavaScript START********** -->
        <script src="/public/js/basic.js"></script>
        <!-- **********JavaScript END********** -->

</body>

</html>