//GLOBAL VARIABLES

$theme: #1ebb7f;

$theme_second: #00699A;
//light color for hover
$theme_second_hover: #008bcc;

$delete_button: #d63031;
$delete_button_hover: #ff6b6b;

//notification need this value as a variable
$footer_height: 43px