@import "./0_global_variables.scss";

$footer_color: #1ebb7f;

/*==============================================================================*/
/*FOOTER - START*/
/*==============================================================================*/

footer{
    width: 100%;
    background: $footer_color;
    color: #fff; 
    display: grid;
    place-items: center;
    /* padding: 2em;  */
    /* font-size: 1.2rem; */
}

footer p{
    padding:0;
    margin: 1em 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}

/*==============================================================================*/
/*FOOTER - END*/
/*==============================================================================*/