@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;

.details-content {
  padding: 1rem;
  width: 50%;
  height: fit-content;
  margin: 10% auto;

  .container {
    width: 100%;
    height: 100%;
    border-radius: 0 0 12px 12px;

    .row{
      border: 1px solid rgba(43, 79, 130, 0.2);
      padding: 5px 10px;
      border-bottom-width: 2px;
      cursor: pointer;
      margin: 8px;
      border-radius: 20px;
      text-align: center;

      .fa-circle{
        color: red;
        margin-left: 30px;
      }

      &:hover{
        background-color: rgb(137 186 255 / 12%);
      }
    }
  }
}

