@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}

/*==============================================================================*/
/*NAVIGATION BAR - START*/
/*==============================================================================*/
.siderbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width of the siderbar when toggle button is off */
  width: 78px;
  background: #1ebb7f;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

/* handles the width of the siderbar when toggle button is active */
.siderbar.active {
  width: 240px;
}

.logo_content {
  cursor: pointer;
}

.siderbar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 600;
}

.siderbar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.siderbar.active #btn {
  left: 90%;
}

.siderbar ul {
  margin-top: 20px;
}

.siderbar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.siderbar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.siderbar.active ul li .tooltip {
  display: none;
}

.siderbar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.siderbar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.siderbar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.siderbar ul li a:hover {
  color: #184e77;
  background: #fff;
}

.siderbar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.siderbar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.siderbar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.siderbar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1ebb7f;
  transition: all 0.4 ease;
}

.siderbar.active .profile_content .profile {
  background: none;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.siderbar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4 ease;
  background: #1ebb7f;
  cursor: pointer;
}
.profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active .profile #log_out {
  left: 88%;
}

.siderbar.active .profile #log_out {
  background: none;
}

.siderbar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/*==============================================================================*/
/*NAVIGATION BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*HOME CONTENT - START*/
/*==============================================================================*/
.home-content {
  height: 100%;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  margin-left: 78px;
  padding-top: 45px;
  /* background-color: #1d1b31; */
}

.home-content-expand {
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  margin-left: 240px;
}

/*==============================================================================*/
/*HOME CONTENT - END*/
/*==============================================================================*/
/*==============================================================================*/
/*POP UP - START*/
/*==============================================================================*/
.pop-up {
  display: none;
  position: fixed;
  bottom: 43px;
  right: 0;
  background-color: white;
  width: 375px;
  height: 576px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.show {
  display: block;
  z-index: 10;
}

/*==============================================================================*/
/*POP UP - END*/
/*==============================================================================*/
/*==============================================================================*/
/*NOTIFICATION CONTAINER - START*/
/*==============================================================================*/
.notification-container {
  position: fixed;
  bottom: 67px;
  right: 24px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #1ebb7f;
  color: white;
  /* padding: 20px;
  margin: 10px;  */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  z-index: 10;
  /* padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .05);
  transition: 200ms opacity ease;



  box-shadow: 0 12px 48px 4px rgb(0 0 0 / 12%); */
}

.bell-notification {
  font-size: 20px;
}

.hide {
  opacity: 0.3;
}

/*==============================================================================*/
/*NOTIFICATION CONTAINER - END*/
/*==============================================================================*/
/*==============================================================================*/
/*FOOTER - START*/
/*==============================================================================*/
footer {
  width: 100%;
  background: #1ebb7f;
  color: #fff;
  display: grid;
  place-items: center;
  /* padding: 2em;  */
  /* font-size: 1.2rem; */
}

footer p {
  padding: 0;
  margin: 1em 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

/*==============================================================================*/
/*FOOTER - END*/
/*==============================================================================*/
/*Stylesheet of the create quiz page*/
:root {
  --main-color: #1FB880;
  --light-color: white;
  --color-grey: #a1a1a1;
  --color-blue: #1B3B56;
}

header {
  text-align: center;
  padding-bottom: 1rem;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  border-bottom-width: 2px;
}

.text {
  margin: 0 0 15px 4px;
  padding: 4px 0 4px 8px;
  height: 2rem;
  width: 65%;
}

.time {
  width: 3rem;
  margin-left: 4px;
  height: min-content;
  padding-left: 4px;
}

header {
  border-bottom: 5px solid var(--color-blue);
  margin-bottom: 2rem;
}

.form-content {
  padding: 1rem;
  width: 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
}

.short-ans {
  display: none;
}

#form {
  border-radius: 4px;
}

.form-header {
  margin: 1.5rem 0;
  border-top: 1px solid lightgrey;
  padding-top: 1rem;
}

.radio-inline {
  margin-top: 12px;
}

.form-question {
  margin-bottom: 0.5rem;
  height: 8rem;
  width: 100%;
  padding-left: 8px;
  padding-bottom: 6rem;
}

.answer {
  display: inline-flex;
  width: 100%;
}

.form-answer {
  width: 80%;
  margin-bottom: 0.275rem;
  margin-right: 8px;
  padding: 2px 2px 2px 8px;
  height: 2rem;
}

.points {
  width: 10%;
  margin-right: 4px;
  padding: 2px 0 2px 8px;
  height: 2rem;
}

.text:hover, .time:hover, .form-question:hover, .form-answer:hover, .points:hover {
  border: none;
  box-shadow: 0 0 5px #7697b3;
}

.add {
  width: 8rem;
  padding: 6px;
  border-radius: 0 0 12px 12px;
}

.finish {
  height: 4rem;
  width: 49.6%;
  margin: 5rem 0 0 0;
  border-radius: 4px;
  font-size: large;
}

.done {
  margin-top: 2rem;
  width: 12rem;
  height: 3rem;
}

.add, .finish, .done {
  border: none;
  color: var(--light-color);
  background-color: var(--main-color);
  font-weight: bold;
}

.add:hover, .finish:hover, .done:hover {
  border: 3px solid var(--main-color);
  color: var(--main-color);
  background-color: white;
}

.button-set {
  margin: auto;
}

.short-ans {
  display: none;
}

/*-----------------POPUP WINDOW-------------------------*/
/* The Modal (background) */
.save-details {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.save-details-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height: 70%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.save-details-header {
  padding: 16px;
  background-color: var(--main-color);
  height: 4rem;
  color: white;
  font-size: large;
}

.save-details-body {
  padding: 16px;
}

.topic-text {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  margin-left: 4px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=create_quiz.css.map */
