@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: white;
  color: #19345d;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  width: 100%;
}

.siderbar.active .profile .profile_details:hover {
  /* color: #184e77; */
  /* background: #fff; */
  border-radius: 10px;
  text-decoration: underline;
}

/*==============================================================================*/
/*NAVIGATION BAR - START*/
/*==============================================================================*/
.siderbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width of the siderbar when toggle button is off */
  width: 78px;
  background: #19345d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

/* handles the width of the siderbar when toggle button is active */
.siderbar.active {
  width: 240px;
}

.logo_content {
  cursor: pointer;
}

.siderbar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 600;
}

.siderbar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.siderbar.active #btn {
  left: 90%;
}

.siderbar ul {
  margin-top: 20px;
}

.siderbar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.siderbar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.siderbar.active ul li .tooltip {
  display: none;
}

.siderbar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.siderbar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.siderbar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.siderbar ul li a:hover {
  color: #184e77;
  background: #fff;
}

.siderbar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.siderbar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.siderbar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.siderbar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #19345d;
  transition: all 0.4 ease;
}

.siderbar.active .profile_content .profile {
  background: none;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.siderbar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
  width: 76%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.siderbar.active .profile .profile_details:hover {
  text-decoration: underline;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #19345d;
  cursor: pointer;
  height: 45px;
}
.profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active .profile #log_out {
  left: 88%;
  background: none;
}
.siderbar.active .profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/*==============================================================================*/
/*NAVIGATION BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*HOME CONTENT - START*/
/*==============================================================================*/
.home-content {
  height: 100%;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  margin-left: 78px;
  padding-top: 2px;
  /* background-color: #1d1b31; */
}
.home-content .error {
  color: red;
  font-size: 80%;
  font-weight: normal;
}

.home-content-expand {
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  margin-left: 240px;
}

/*==============================================================================*/
/*HOME CONTENT - END*/
/*==============================================================================*/
/*==============================================================================*/
/*POP UP - START*/
/*==============================================================================*/
.pop-up {
  display: none;
  position: fixed;
  bottom: 43px;
  right: 0;
  background-color: white;
  width: 375px;
  height: 576px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.show {
  display: block;
  z-index: 10;
}

/*==============================================================================*/
/*POP UP - END*/
/*==============================================================================*/
/*==============================================================================*/
/*NOTIFICATION CONTAINER - START*/
/*==============================================================================*/
.notification-container {
  position: fixed;
  bottom: 67px;
  right: 24px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #19345d;
  color: white;
  /* padding: 20px;
  margin: 10px;  */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  z-index: 10;
  /* padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .05);
  transition: 200ms opacity ease;



  box-shadow: 0 12px 48px 4px rgb(0 0 0 / 12%); */
}

.bell-notification {
  font-size: 20px;
}

.hide {
  opacity: 0.3;
}

/*==============================================================================*/
/*NOTIFICATION CONTAINER - END*/
/*==============================================================================*/
/*==============================================================================*/
/*BREADCRUMB - START*/
/*==============================================================================*/
ul.breadcrumb {
  padding: 4px 16px;
  list-style: none;
  background-color: #eeeeee61;
  margin-bottom: 30px;
  margin-left: 0 !important;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*==============================================================================*/
/*BREADCRUMB - END*/
/*==============================================================================*/
/*==============================================================================*/
/*FOOTER - START*/
/*==============================================================================*/
footer {
  width: 100%;
  background: #eceff1;
  color: #546e7a;
  display: grid;
  place-items: center;
  /* padding: 2em;  */
  /* font-size: 1.2rem; */
}

footer p {
  padding: 0;
  margin: 1em 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

/*==============================================================================*/
/*FOOTER - END*/
/*==============================================================================*/
/*Stylesheet of the create quiz page*/
.form-content {
  padding: 16px;
  width: 51%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
}
.form-content header {
  padding-bottom: 16px;
  border-bottom: 5px solid #2B4F82;
  margin-bottom: 32px;
}
.form-content .heading {
  text-align: left;
  font-size: 25px;
  margin-bottom: 15px;
}
.form-content .details {
  margin-bottom: 10px;
}
.form-content .details #form {
  border-radius: 4px;
}
.form-content .details #form .form-header {
  margin: 24px 0;
  border-top: 1px solid lightgrey;
  padding-top: 16px;
}
.form-content .details #form .form-header .radio-inline {
  margin-top: 0;
}
.form-content .details #form .form-header .radio-inline label {
  margin-right: 10px;
}
.form-content .details .add {
  width: 128px;
  padding: 6px;
  border-radius: 0 0 12px 12px;
  color: white;
  background-color: #305890;
  border: 3px solid #305890;
  font-weight: bold;
  cursor: pointer;
}
.form-content .details .add:hover {
  border: 3px solid #4075bf;
  color: #4075bf;
  background-color: white;
}
.form-content .details .button-set {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.form-content .details .button-set .finish {
  height: 48px;
  width: 49%;
  border-radius: 5px;
  font-size: large;
  border: none;
  color: white;
  background-color: #2B4F82;
  font-weight: bold;
}
.form-content .details .button-set .finish:hover {
  border: 3px solid #1d3557;
  color: white;
  background-color: #1d3557;
}
.form-content .short-ans {
  display: none;
}
.form-content .form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
}
.form-content .form-group textarea {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  border-bottom-width: 2px;
}
.form-content .form-group textarea:hover {
  box-shadow: 0 0 5px #7697b3;
}
.form-content .form-group input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  border-bottom-width: 2px;
}
.form-content .form-group input:hover {
  box-shadow: 0 0 5px #7697b3;
}
.form-content .form-group .form-control {
  width: 100%;
  display: block;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-bottom-width: 2px;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 5px;
}
.form-content .form-group .form-control:hover {
  box-shadow: 0 0 5px #7697b3;
  cursor: pointer;
}
.form-content .form-group .form-name {
  padding-left: 16px;
}
.form-content .form-group .cursor-change:hover {
  cursor: text;
}
.form-content .form-group .form-answer {
  width: 80%;
  margin-bottom: 5px;
  margin-right: 8px;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-bottom-width: 2px;
}
.form-content .form-group .form-answer:hover {
  box-shadow: 0 0 5px #7697b3;
}
.form-content .form-group .points {
  color: rgba(0, 0, 0, 0.85);
  width: 10%;
  margin-right: 4px;
  padding: 6px 0 6px 8px;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  border-bottom-width: 2px;
  margin-top: 1px;
}
.form-content .form-group .points:hover {
  box-shadow: 0 0 5px #7697b3;
}
.form-content .row {
  display: flex;
}
.form-content .row .col {
  flex: 100%;
  padding: 10px 0 10px 0;
}
.form-content .row .col-end {
  padding-right: 0;
}

/* -------CLOSE BUTTON START------------- */
.close {
  position: relative;
  top: 85px;
  display: inline-flex;
  overflow: hidden;
  height: 40px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.close button {
  border-radius: 5px;
  border: 2px solid #dd5555;
  color: white;
  background-color: #dd5555;
  cursor: pointer;
  padding: 4px 8px;
}
.close button:hover {
  color: #dd5555;
  background-color: #f7d4d4a1;
}
.close .fa-times {
  margin-right: 8px;
}

.close:hover::before, .close:hover::after {
  background: #2B4F82;
}

.close::before, .close::after {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: rgba(0, 0, 0, 0.85);
}

.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.black::before, .close.black::after {
  height: 3px;
  margin-top: 0;
}

.close.rounded::before, .close.rounded::after {
  border-radius: 5px;
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
/* -------CLOSE BUTTON END------------- */
/* -------OPTION BUTTON START------------- */
/* -------OPTION BUTTON END------------- */

/*# sourceMappingURL=create_quiz.css.map */
