@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

/*Stylesheet of the create badge page*/
$main_color: $theme_second;
$main_hover: $theme_second_hover;
$hover: #7697b3;
$font_grey: rgba(0, 0, 0, 0.85);
$border_grey: lightgrey;
$light: white;


.form-content {
  padding: 16px;
  width: 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;

  header {
    padding-bottom: 8px;
    border-bottom: 5px solid $theme_second;
    margin-bottom: 32px;
  }

  .details {
    margin-bottom: 10px;

    .button-set {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .finish {
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        color: $light;
        background-color: $theme_second;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: $light;
          background-color: $theme_second_hover;
        }
      }
    }
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      border: 1px solid $border_grey;
      border-radius: 4px;
      border-bottom-width: 2px;

      &:hover {
        box-shadow: 0 0 5px $hover;
      }
    }

    .form-control-label {
      width: 30%;
    }

    .badge-label {
      margin-top: 10px;
    }

    .form-control {
      width: 95%;
      display: block;
      padding: 6px 12px;
      color: $font_grey;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-bottom-width: 2px;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      margin-top: 5px;

      &:hover {
        box-shadow: 0 0 5px $hover;
        cursor: pointer;
      }
    }

    .form-input {
      padding-left: 16px;

      &:hover {
        cursor: text;
      }
    }

    .error{
      display: block;
    }

  }

  #all-courses-selection-message{
    margin-left: 25%;
    color: #73d861;
  }

  .selected-courses {
    margin: 20px 0;

    .selected-course {
      background-color: #325c9733;
      border: 2px solid white;
      border-radius: 16px;
      padding: 6px 12px;

      .remove-course {
        float: right;
        cursor: pointer;
      }
    }
  }
}


