@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;

.details-content {
  padding: 1rem;
  width: 40%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: 10% auto;
  overflow: hidden;

  .header-container {
    header {
      margin: 20px 10px;
    }

    .course-label {
      font-weight: 400;
      color: #2B4F82;
      margin-left: 25px;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;

    .save-btn {
      padding: 6px 12px;
      background-color: $main_color;
      color: $light_color;
      border-radius: 5px;
      border: 2px solid $main_color;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $theme_second_hover;
        border: 2px solid $theme_second_hover;
      }
    }
  }

  .session-details-container {

    .session-name-container {
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      margin-left: 10px;

      label {
        width: 140px;
        font-weight: bold;
      }

      .input {
        width: 25rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        border-bottom-width: 2px;
        font-family: FontAwesome, Poppins, sans-serif;
        font-style: normal;
      }
    }
  }
}

