@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;

.details-content {
  padding: 1rem;
  width: 70%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
  height: 80%;
  overflow: hidden;

  .header-container {
    header {
      margin: 20px 10px;
    }

    .course-label {
      font-weight: 400;
      color: #2B4F82;
      margin-left: 25px;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;

    .add-btn {
      padding: 6px 12px;
      background-color: $main_color;
      color: $light_color;
      border-radius: 5px;
      border: 2px solid $main_color;
      font-size: 16px;
      font-weight: bold;
      //box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      cursor: pointer;

      &:hover {
        background-color: $theme_second_hover;
        border: 2px solid $theme_second_hover;
      }
    }
  }

  .session-details-container {
    height: 60vh;
    overflow: auto;

    .sessions {
      display: grid;
      padding-bottom: 2rem;
      margin-left: 10px;

      .session {
        display: grid;
        justify-items: start;
        align-items: center;
        background-color: #2b4f820d;
        border-radius: 5px;
        margin: 5px 0;
        padding: 20px 10px;

        .session-details {
          width: 100%;

          .session-name {
            width: 95%;
            float: left;
            text-decoration: none;
            cursor: pointer;
            color: #0275d8;
            font-size: 20px;

            &:hover {
              text-decoration: underline;
            }
          }

          .eye {
            width: 5%;
            float: right;
          }
        }

        .publish-status {
          cursor: pointer
        }

        .session-course {
          font-size: 16px;
          color: #4caf50;
          cursor: default;
        }

        .session-created-date {
          text-decoration: none;
          font-size: 10px;
          margin: 0;
          padding: 0;
          line-height: 15px;
          cursor: default;
        }
      }

      //.session {
      //  display: flex;
      //  align-items: center;
      //  background-color: #2b4f820d;
      //  border-radius: 5px;
      //  margin: 5px 0;
      //  padding: 20px 10px;
      //  justify-content: space-between;
      //
      //  .session-name{
      //    cursor: pointer;
      //    color: #0275d8;
      //    text-decoration: none;
      //
      //    &:hover{
      //      text-decoration: underline;
      //    }
      //  }
      //
      //  .publish-status {
      //    cursor: pointer
      //  }
      //}
    }
  }
}

/*==============================================================================*/
/*SEARCH BAR - START*/
/*==============================================================================*/

.search-bar {
  width: 450px;
  margin-left: 10px;
}

form.search-bar input[type=text] {
  padding: 5px 20px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

/*==============================================================================*/
/*SEARCH BAR - END*/
/*==============================================================================*/

/*==============================================================================*/
/*ADD SESSION MODAL - START*/
/*==============================================================================*/

.modal {
  .modal-content {
    .modal-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 2rem 2rem 2rem;

      .create-btn {
        padding: 6px 12px;
        background-color: $main_color;
        color: $light_color;
        border-radius: 5px;
        border: 2px solid $main_color;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $theme_second_hover;
          border: 2px solid $theme_second_hover;
        }
      }
    }

    .session-details {
      padding: 2rem;

      .session-name-container {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        margin-left: 10px;
        justify-content: space-between;


        .session-label {
          width: 140px;
          font-weight: bold;
        }

        .right-side {
          display: grid;

          .error {
            margin-left: 2px;
          }
        }

        .input {
          width: 25rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 6px 12px;
          border-bottom-width: 2px;
          font-family: FontAwesome, Poppins, sans-serif;
          font-style: normal;
        }
      }
    }
  }
}

/*==============================================================================*/
/*ADD SESSION MODAL - END*/
/*==============================================================================*/

