@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;

.details-content {
  padding: 1rem;
  width: 70%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
  height: 80%;
  overflow: hidden;

  .header-container {
    header {
      margin: 20px 10px;
    }

    .course-selection {
      margin-bottom: 5px;

      .course-dropdown {
        cursor: pointer;
        display: block;
        padding: 6px 12px;
        color: rgba(0, 0, 0, 0.85);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-bottom-width: 2px;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-left: 10px;
        min-width: 470px;

        &:hover {
          box-shadow: 0 0 5px #7697b3;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    align-items: center;

    .add-btn {
      padding: 6px 12px;
      background-color: $main_color;
      color: $light_color;
      border-radius: 5px;
      border: 2px solid $main_color;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $theme_second_hover;
        border: 2px solid $theme_second_hover;
      }
    }
  }

  .draft-details-container {
    height: 70vh;
    overflow: auto;

    .drafts {
      display: grid;
      margin-left: 10px;

      .draft {
        display: grid;
        justify-items: start;
        align-items: center;
        background-color: #2b4f820d;
        border-radius: 5px;
        margin: 5px 0;
        padding: 20px 10px;

        .draft-details {
          width: 100%;

          .draft-name {
            width: 95%;
            float: left;
            text-decoration: none;
            cursor: pointer;
            color: #0275d8;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .draft-created-date {
          text-decoration: none;
          font-size: 10px;
          margin: 0;
          padding: 0;
          line-height: 15px;
          cursor: default;
        }
      }
    }
  }

  /*--------------------- Message styles - start ----------------------------*/

  .content-message {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;

    .fa-spinner {
      font-size: 40px;
      color: grey;
      align-self: center;
      margin-bottom: 1rem;
    }
  }

  /*--------------------- Message styles - end ----------------------------*/

}