@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

/*Stylesheet of the display quiz page*/
$main_color: $theme_second;
$main_hover: $theme_second_hover;
$answer_color: rgba(0, 0, 0, 0.85);
$answer_background: rgba(0, 0, 0, 0.05);
$light: white;


.form-content {
  padding: 16px;
  width: 51%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;

  header {
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 5px solid $main_color;
    margin-bottom: 20px;
  }

  .quiz-name {
    text-align: left;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    span {
      float: right
    }
    input{
      width: fit-content;
      padding: 2px 4px;
      border-radius: 8px;
    }
  }

  .details {
    margin-bottom: 10px;

    .all-questions {
      margin-left: 15px;

      .question-container {
        margin-bottom: 30px;

        .question {
          margin-bottom: 5px;
          input{width: 100%}
        }

        li {
          list-style-type: lower-alpha;
          margin-left: 35px;

          i{
            float: right;
            margin-top: 4px;
          }
          .fa-times{
            margin-top: 8px;
            font-size: larger;

            &:hover{
              cursor: pointer;
              color:$delete_button_hover;
            }
          }
        }

        .answer {
          border-radius: 290486px;
          padding: 8px 16px;
          margin: 0 18px 12px 18px;
          background-color: $answer_background;
          color: $answer_color;
          border: transparent 1px solid;
          cursor: context-menu;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          input{width: 80%;}

          .points{
            width: 15%;
            min-width: 70px;
          }
        }
      }


    }
  }
}

/* --------------BUTTON STYLES START----------------*/

.button-set{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

.dlt{
  padding: 2px 6px;
  cursor: pointer;
  font-size: 12px;
  color: $light;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: $delete_button;
  border: 2px solid $delete_button;

  i{margin-right: 5px;}

  &:hover {
    color: $light;
    border: 2px solid $delete_button_hover;
    background-color: $delete_button_hover;
  }
}
.dlt{


  &:hover {

  }
}

.add {
  width: 128px;
  padding: 6px;
  border-radius: 0 0 12px 12px;
  color: $light;
  background-color: $main_color;
  border: 3px solid $main_color;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;

  &:hover{
    border: 3px solid $main_hover;
    color: $main_hover;
    background-color: $light;
  }
}

.end-button-set{
  display: flex;
  justify-content: flex-end;
}

.done {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: $light;
  background-color: $main_color;
  border: 2px solid $main_color;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;

  &:hover {
    border: 2px solid $main_hover;
    color: $light;
    background-color: $main_hover;
  }
}

/* --------------BUTTON STYLES END----------------*/

input{
  border: 2px solid $answer_background;
  padding: 5px 0 5px 5px;
  //font-size: 16px;
}

.short-ans{
  ul{list-style-type:none;}
}

.short-input{
  list-style: none !important;
}

.radio-inline{
  margin-top: 50px;
  margin-bottom: 10px;
}

#add-question{
  font-size: 14px;
}