@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

$button_color: $action_button;
$button_hover_color: $action_button_hover;
$table_heading_color: $table_head;

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.forum-container{
    width: 90%;

    .forum-message{

        p{
            margin: 20px 0;
        }
    }

    .discussion-list{

        button{
            background-color: $button_color;
            border: none;
            color: white;
            padding: 8px 16px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 40px 0 25px 0;
            cursor: pointer;

            .button-title{
                .space-tag{
                    display: inline;
                    padding: 0 5px;
                }
            }

            &:hover{
                background-color: $button_hover_color;
            }
        }

        .discussion-table-container{
            .discussion-table-container{
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                padding-right: 10px;
              }
              
              
              .discussion-table {
                li {
                  border-radius: 3px;
                  padding: 25px 0;
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 25px;
                }
                
                .table-header {
                  background-color: $table_head;
                  color: white;
                  font-size: 14px;
                  font-weight: bold;
                  text-transform: uppercase;
                  letter-spacing: 0.03em;

                  .reply{
                      text-align: center;
                  }
                }
                
                .table-row {
                  background-color: #ffffff;
                  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);

                  /*==============================================================================*/
                  /*PROFILE CARD - START*/
                  /*==============================================================================*/

                  .profile_img_info {
                        display: flex;

                        .img {
                            width: 100px;

                            img {
                                width: 100%;
                                display: block;
                            }
                        }

                        .info {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            margin-left: 10px;
                            
                            .name {
                                font-size: 15px;
                                font-weight: 700;
                                margin-bottom: 5px;
                            }
                        }

                        .place {
                            font-weight: 300;
                        }
                    }

                    /*==============================================================================*/
                    /*PROFILE CARD - END*/
                    /*==============================================================================*/

                    a{
                        text-decoration: none;
                        color: $theme;
                        font-weight: 500;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    .reply-count{
                        text-align: center;

                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: center;

                        .vote{
                          display: grid;
                          align-content: center;
                          font-size: 30px;
                          padding-left: 5px;

                          .fa-caret-up{
                            color: darkgray;
                            cursor: pointer;
                          }
                          .val{
                              font-size: 20px;
                          }
                        }
                    }
                }
                .col-1 {
                    flex-basis: 40%;
                    margin: auto;
                    width: 60%;
                    padding: 0 0 0 10px;
                }
                .col-2 {
                    flex-basis: 26%;
                    margin: auto;
                    width: 60%;
                    padding: 0;
                }
                .col-3 {
                    flex-basis: 26%;
                    margin: auto;
                    width: 60%;
                    padding: 0;
                }
                .col-4 {
                    flex-basis: 6%;
                    margin: auto;
                    width: 60%;
                    padding: 0;
                }
                
                @media all and (max-width: 767px) {
                  .table-header {
                    display: none;
                  }
                  
                  li {
                    display: block;
                  }
                  .col {
                    
                    flex-basis: 100%;
                    
                  }
                  .col {
                    display: flex;
                    padding: 10px 0;
                    &:before {
                      color: $table_heading_color;
                      padding-right: 10px;
                      content: attr(data-label);
                      flex-basis: 50%;
                      text-align: right;
                    }
                  }
                }
              }
        }
    }
}


