@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

$box-border: #19345d9e;
$border_grey: lightgrey;

.forum-container{
  padding: 1rem;
  width: 80%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
  height: 87%;
  overflow: scroll;
  overflow-x: hidden;

  h2{
    color: $theme;
    text-align: left;
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
  }

  .input-box{
    textarea{
      max-width: -webkit-fill-available;
      margin-bottom: 5px;
      padding: 5px;
      border: 1px solid $border_grey;
      border-radius: 4px;
    }
  }

  .question, .answer{
    margin: 30px 0;
    width: 90%;
    border: 3px solid $box-border;
    padding: 10px;
    border-radius: 8px;

    /*==============================================================================*/
    /*PROFILE CARD - START*/
    /*==============================================================================*/

    .profile_img_info {
      display: flex;
      margin-bottom: 20px;

      .img {
        width: 60px;

        img {
          width: 100%;
          display: block;
          vertical-align: middle;
          border-style: none;
        }
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;

        .name {
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 5px;
        }
      }

      .place {
        font-weight: 300;
      }
    }

    /*==============================================================================*/
    /*PROFILE CARD - END*/
    /*==============================================================================*/

    .button-set{
      float: right;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .action-button{
        border: 2px solid $action_button;
        border-radius: 5px;
        float: right;
        padding: 4px 10px;
        background-color: $action_button;
        color: white;
        margin-left: 5px;
        cursor: pointer;

        &:hover{
          background-color: $theme;
          border-color: $theme ;
        }
      }
      .delete{
        background-color: $delete_button;
        border: $delete_button_border;

        &:hover{
          background-color: $delete_button_hover;
          color: $delete_button_hover_color;
          border: $delete_button_border;
        }
      }
      .cancel{
        background-color: $cancel_button;
        border-color: $cancel_button;
        //color: white;

        &:hover{
          background-color: $cancel_button_hover;
          border-color: $cancel_button_hover;
          //color: $delete_button_hover_color;
          //border: $delete_button_border;
        }
      }
    }

    .input-btns{
      float: right;
    }
  }
  .question{
    //background-color: $light_color;

    .question-content{
      margin-left: 64px;
    }
  }
  .answer{
    margin-left: 10%;
    //background-color: #6b97b93d;

    .answer-content{
      margin-left: 64px;
    }
  }
}



