@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$table_color: $table_head;
$view_button_color: $action_button;
$view_button_hover_color: $action_button_hover;
$view_button_active_color: $filter_button;

header{
    //margin-left: 10%;
}

.year-selection {
    display: flex;
    align-items: center;
    font-weight: 500;

    .year-dropdown {
        cursor: pointer;
        display: block;
        padding: 6px 12px;
        color: rgba(0, 0, 0, 0.85);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-bottom-width: 2px;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin-left: 15px;
        min-width: 200px;

        &:hover {
            box-shadow: 0 0 5px #7697b3;
        }
    }
}

/*==============================================================================*/
/*LEADERBOARD TABLE - START*/
/*==============================================================================*/

/* .center {
    margin: auto;
    width: 50%;
    padding: 10px;
} */

.table-container{
    width: 92%;
    margin: 5% auto auto 10%;
}

.content-table {
    border-collapse: collapse;
    width: 85%;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: $table_color;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table th{
    padding: 12px 15px;
    font-size: 20px;
    font-weight: 500;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;

    &:hover{
        background-color: #fff;
    }
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid $table_color;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: $table_color;
}

/*==============================================================================*/
/*LEADERBOARD TABLE - END*/
/*==============================================================================*/

/*==============================================================================*/
/*LEADERBOARD VIEW BUTTON - START*/
/*==============================================================================*/

.button {
    display: flex;
    height: 40px;
    padding: 0;
    background: $view_button_color;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: $view_button_hover_color;
}

.button:active {
    background: $view_button_active_color;
}

.button__text{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

/*==============================================================================*/
/*LEADERBOARD VIEW BUTTON - END*/
/*==============================================================================*/