@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;
$background_color: #b7c8d64a;
$modal_color: $theme_hover;
$modal_color_hover: $theme;

.details-content {
  width: 70%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: 5% auto auto auto;
  overflow-y: hidden;

  .user-details-container {
    .header-bar {
      float: left;
      width: 100%;
      background-color: #274774;
      border-radius: 8px 8px 0 0;

      img {
        width: 25vh;
        height: 25vh;
        margin: 30px;
        border-radius: 120px;
        vertical-align: middle;
        border: 3px solid white;
      }

      .bio {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        color: $light_color;
        width: 15rem;

        span:first-child {
          font-weight: bold;
          font-size: larger;
        }
      }
    }

    .details-container {
      margin-top: 20px;
      width: 100%;
      float: right;
      overflow: hidden;
      display: grid;
      padding: 0 1rem;

      .heading {
        font-weight: bold;
        border-bottom: 2px solid $main_color;
        width: 100%;
        margin-bottom: 1rem;
      }

      .buttons {
        margin: 10px 0;
        display: inline;
        justify-self: end;

        button {
          width: fit-content;
          padding: 6px 12px;
          background-color: $main_color;
          color: $light_color;
          border-radius: 5px;
          border: 2px solid $main_color;
          font-size: large;
          font-weight: 400;
          box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          cursor: pointer;

          &:hover {
            background-color: $theme_second_hover;
            border: 2px solid $theme_second_hover;
          }
        }

        button:nth-child(2) {
          background-color: $delete_button;
          border: $delete_button_border;
          color: $delete_button_color;

          &:hover {
            background-color: $delete_button_hover;
            color: $delete_button_hover_color;
          }
        }
      }

      .horizontal-container {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        height: 180px;

        .pvt-details, .course-details {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          border: 1px solid #d0d0d0;
          background-color: $light_color;

          &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            border: 1px solid $main_color;
          }
        }

        .pvt-details {
          width: 38%;
        }

        .course-details {
          width: 60%;

          .course-content {
            overflow: auto;
            width: 100%;
            display: grid;
          }
        }
      }

      .badge-details {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #d0d0d0;
        background-color: $light_color;

        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          border: 1px solid $main_color;
        }

        .badges {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          padding-top: 10px;

          .badge {
            display: grid;
            width: 95%;
            margin: 10px;
            box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
            padding: 10px 0 0 0;
            justify-items: center;

            img {
              width: 10rem;
              justify-self: center;
            }

            .issuer {
              background-color: #2b4f82;
              color: #FFF;
              padding: 5px 0;
              width: 100%;
              text-align: center;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

/*--------------------------MODAL STYLES START------------------------- */

.modal-content {
  padding-bottom: 56px;

  .modal-body {
    margin-top: 20px;

    .assigned-courses {
      margin: 20px 0;

      .assigned-course {
        background-color: #325c9733;
        border: 2px solid white;
        border-radius: 16px;
        padding: 6px 12px;

        .remove-course {
          float: right;
          cursor: pointer;
        }
      }
    }
  }

  .selection-box {
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    padding: 4px 8px;
  }
}

.fa-trash {
  color: $delete_button;

  &:hover {
    color: #c21e1e;
  }
}

.apply-button {
  width: 20%;
  height: 40px;
  margin-right: 18px;
  background-color: $main_color;
  color: $light_color;
  border-radius: 5px;
  border: 2px solid $main_color;
  font-size: large;
  font-weight: 400;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  float: right;

  &:hover {
    background-color: $theme_second_hover;
    border: 2px solid $theme_second_hover;
  }
}

/*--------------------------MODAL STYLES END------------------------- */

