@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

$table_color: $table_head;

.details-container {
  width: 90%;
  display: inline-flex;

  .col2 {
    width: 70%;
    margin: auto auto 70px auto;

    .chart-container {
      width: 80%;

      .chart-heading {
        cursor: default;
        font-size: 20px;
        font-weight: 500;
        text-decoration: underline;
        color: cadetblue;
      }

      .chart {
        width: 30%;
        max-width: 1000px;
        margin-bottom: 50px;
        margin-top: 20px;
      }
    }

    /*==============================================================================*/
    /*LEADERBOARD TABLE - START*/
    /*==============================================================================*/

    .table-container {
      width: 100%;
      cursor: default;

      .table-content {
        border-collapse: collapse;
        width: 80%;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        th, td {
          padding: 12px 15px;
        }

        th {
          padding: 12px 15px;
          font-size: 20px;
          font-weight: 500;
        }

        thead {
          tr {
            background-color: $table_color;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid #dddddd;

            &:hover{
              background-color: #01447e26;
              cursor: pointer;
            }
          }
          tr:nth-of-type(even) {
            background-color: #f3f3f3;

            &:hover{
              background-color: #01447e26;
              cursor: pointer;
            }
          }
          tr:last-of-type {
            border-bottom: 2px solid $table_color;
          }
        }
      }
    }

    /*==============================================================================*/
    /*LEADERBOARD TABLE - END*/
    /*==============================================================================*/
  }
}

