@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

$primary_color: $theme_second;
$primary_color_hover: $theme_second_hover;
$light_color: #FFFFFF;

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container{
    .home-content{
        .topic-container{
            width: 80%;

            h2{
                padding: 15px;
                text-align: center;
                background: $primary_color;
                color: $light_color;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 20px;
                border-radius: 8px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }

            .topic{
                .collapsible {
                    background-color: $primary_color;
                    color: white;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 20px;
                    margin: 5px 0;
                    border-radius: 8px;

                    &:hover{
                        background-color: $primary_color_hover;
                    }

                    &::after{
                        content: '\002B';
                        color: $light_color;
                        font-size: 50px;
                        font-weight: 300;
                        float: right;
                        margin-left: 5px;
                    }
                }

                .active{
                    background-color: $primary_color_hover;
                    border: 1px solid $primary_color;

                    &::after{
                        content: "\2212";
                    }
                }

                .content {
                    padding: 0 18px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    background-color: #f1f1f1;
                    border-radius: 8px;
                }
            }
        }
    }
}
