@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: white;
  color: #19345d;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  width: 100%;
}

.siderbar.active .profile .profile_details:hover {
  /* color: #184e77; */
  /* background: #fff; */
  border-radius: 10px;
  text-decoration: underline;
}

/*==============================================================================*/
/*NAVIGATION BAR - START*/
/*==============================================================================*/
.siderbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width of the siderbar when toggle button is off */
  width: 78px;
  background: #19345d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

/* handles the width of the siderbar when toggle button is active */
.siderbar.active {
  width: 240px;
}

.logo_content {
  cursor: pointer;
}

.siderbar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 600;
}

.siderbar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.siderbar.active #btn {
  left: 90%;
}

.siderbar ul {
  margin-top: 20px;
}

.siderbar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.siderbar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.siderbar.active ul li .tooltip {
  display: none;
}

.siderbar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.siderbar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.siderbar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.siderbar ul li a:hover {
  color: #184e77;
  background: #fff;
}

.siderbar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.siderbar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.siderbar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.siderbar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #19345d;
  transition: all 0.4 ease;
}

.siderbar.active .profile_content .profile {
  background: none;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.siderbar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
  width: 76%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.siderbar.active .profile .profile_details:hover {
  text-decoration: underline;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #19345d;
  cursor: pointer;
  height: 45px;
}
.profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active .profile #log_out {
  left: 88%;
  background: none;
}
.siderbar.active .profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/*==============================================================================*/
/*NAVIGATION BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*HOME CONTENT - START*/
/*==============================================================================*/
.home-content {
  height: 100%;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  margin-left: 78px;
  padding-top: 2px;
  /* background-color: #1d1b31; */
}
.home-content .error {
  color: red;
  font-size: 80%;
}

.home-content-expand {
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  margin-left: 240px;
}

/*==============================================================================*/
/*HOME CONTENT - END*/
/*==============================================================================*/
/*==============================================================================*/
/*POP UP - START*/
/*==============================================================================*/
.pop-up {
  display: none;
  position: fixed;
  bottom: 43px;
  right: 0;
  background-color: white;
  width: 375px;
  height: 576px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.show {
  display: block;
  z-index: 10;
}

/*==============================================================================*/
/*POP UP - END*/
/*==============================================================================*/
/*==============================================================================*/
/*NOTIFICATION CONTAINER - START*/
/*==============================================================================*/
.notification-container {
  position: fixed;
  bottom: 67px;
  right: 24px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #19345d;
  color: white;
  /* padding: 20px;
  margin: 10px;  */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  z-index: 10;
  /* padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .05);
  transition: 200ms opacity ease;



  box-shadow: 0 12px 48px 4px rgb(0 0 0 / 12%); */
}

.bell-notification {
  font-size: 20px;
}

.hide {
  opacity: 0.3;
}

/*==============================================================================*/
/*NOTIFICATION CONTAINER - END*/
/*==============================================================================*/
/*==============================================================================*/
/*BREADCRUMB - START*/
/*==============================================================================*/
ul.breadcrumb {
  padding: 4px 16px;
  list-style: none;
  background-color: #eeeeee61;
  margin-bottom: 30px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*==============================================================================*/
/*BREADCRUMB - END*/
/*==============================================================================*/
/*==============================================================================*/
/*FOOTER - START*/
/*==============================================================================*/
footer {
  width: 100%;
  background: #eceff1;
  color: #546e7a;
  display: grid;
  place-items: center;
  /* padding: 2em;  */
  /* font-size: 1.2rem; */
}

footer p {
  padding: 0;
  margin: 1em 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

/*==============================================================================*/
/*FOOTER - END*/
/*==============================================================================*/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.container .home-content .topic-container {
  width: 80%;
}
.container .home-content .topic-container h2 {
  padding: 15px;
  text-align: center;
  background: #2B4F82;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.container .home-content .topic-container .add-topic {
  background-color: #005780;
  border: 2px solid #005780;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 16px;
  max-width: 250px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 50px;
  margin: 32px 0 5px 5px;
}
.container .home-content .topic-container .add-topic:hover {
  background-color: #007ab3;
  border: 2px solid #007ab3;
  color: #FFFFFF;
}
.container .home-content .topic-container .topic .collapsible {
  background-color: #008bcc;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 18px;
  width: 100%;
  text-align: justify;
  outline: none;
  font-size: 20px;
  margin: 5px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .home-content .topic-container .topic .collapsible span {
  width: max-content;
  display: inline-flex;
  align-items: center;
}
.container .home-content .topic-container .topic .collapsible span .hidden {
  display: none;
}
.container .home-content .topic-container .topic .collapsible span .hidden i {
  background-color: white;
  width: fit-content;
  border: 5px solid #008bcc;
  border-radius: 64px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0px inset;
}
.container .home-content .topic-container .topic .collapsible span .hidden i:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
}
.container .home-content .topic-container .topic .collapsible .fa-trash, .container .home-content .topic-container .topic .collapsible .fa-pencil {
  color: #008bcc;
  font-weight: bold;
  margin: auto 10px;
  cursor: pointer;
}
.container .home-content .topic-container .topic .collapsible:hover {
  background-color: #007ab3;
}
.container .home-content .topic-container .topic .collapsible::after {
  content: "+";
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 300;
  float: right;
  margin-left: 5px;
}
.container .home-content .topic-container .topic .active {
  background-color: #008bcc;
  border: 1px solid #008bcc;
}
.container .home-content .topic-container .topic .active::after {
  content: "−";
}
.container .home-content .topic-container .topic .content {
  padding: 0 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.container .home-content .topic-container .topic .content .button-set {
  padding-top: 8px;
}
.container .home-content .topic-container .topic .content .button-set .edit-btn, .container .home-content .topic-container .topic .content .button-set .dlt-btn {
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 4px;
  font-size: 0.8em;
}
.container .home-content .topic-container .topic .content .button-set .edit-btn i, .container .home-content .topic-container .topic .content .button-set .dlt-btn i {
  margin-right: 8px;
}
.container .home-content .topic-container .topic .content .button-set .edit-btn {
  border: 2px solid #305890;
  background-color: #305890;
}
.container .home-content .topic-container .topic .content .button-set .edit-btn:hover {
  background-color: #4075bf;
  border-color: #4075bf;
}
.container .home-content .topic-container .topic .content .button-set .dlt-btn {
  background-color: #dd5555;
  border: 2px solid #dd5555;
}
.container .home-content .topic-container .topic .content .button-set .dlt-btn:hover {
  background-color: #f7d4d4a1;
  color: #dd5555;
}
.container .home-content .topic-container .topic .content .quiz-head {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid #b2b2b2;
  display: block;
  padding: 0 10px;
}
.container .home-content .topic-container .topic .content ul {
  list-style-type: none;
  padding: 10px 10px 30px 10px;
}
.container .home-content .topic-container .topic .content ul li {
  margin-bottom: 5px;
}
.container .home-content .topic-container .topic .content ul li i {
  margin-right: 5px;
}

/* ----------------------TOOLTIP ON EDIT QUIZ AND VIEW QUIZ START------------------------- */
.tooltip {
  position: relative;
  display: inline-flex;
}

.tooltip .icon-tooltip, .tooltip .text-tooltip {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 100%;
  left: 50%;
  margin-left: -40px;
  font-size: small;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip .icon-tooltip::after, .tooltip .text-tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .icon-tooltip, .tooltip:hover .text-tooltip {
  visibility: visible;
}

/* ----------------------TOOLTIP ON EDIT QUIZ AND VIEW QUIZ END------------------------- */

/*# sourceMappingURL=topic_page.css.map */
