@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";


$blue_var_1: #005780;
$blue_var_2: $theme_second;
$blue_var_3: #007ab3;
$blue_var_4: #008bcc;
$light_color: #FFFFFF;

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container{
    .home-content{
        .topic-container{
            width: 80%;

            h2{
                padding: 15px;
                text-align: center;
                background: $blue_var_2;
                color: $light_color;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 20px;
                border-radius: 8px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }

            .add-topic{
                background-color: $blue_var_1;
                border: 2px solid $blue_var_1;
                color: white;
                float: right;
                cursor: pointer;
                font-size: 16px;
                max-width: 250px;
                border-radius: 5px;
                font-weight: bold;
                padding: 10px 50px;
                margin: 32px 0 5px 5px;

                &:hover{
                    background-color: $blue_var_3;
                    border: 2px solid $blue_var_3;
                    color: $light_color;
                }
            }


            .topic{
                .collapsible {
                    background-color: $blue_var_4;
                    border: none;
                    color: white;
                    cursor: pointer;
                    padding: 0 18px;
                    width: 100%;
                    text-align: justify;
                    outline: none;
                    font-size: 20px;
                    margin: 5px 0;
                    border-radius: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span{
                        width: max-content;
                        display: inline-flex;
                        align-items: center;

                        .hidden{
                            display: none;

                            i{
                                background-color: white;
                                width: fit-content;
                                border: 5px solid $blue_var_4;
                                border-radius: 64px;
                                padding: 12px;
                                box-shadow: rgb(0 0 0 / 40%) 0 2px 4px,
                                rgb(0 0 0 / 30%) 0 7px 13px -3px,
                                rgb(0 0 0 / 20%) 0 -3px 0px inset;

                                &:hover{
                                    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
                                }
                            }
                        }

                    }
                    .fa-trash, .fa-pencil{
                        color: 	$blue_var_4;
                        font-weight: bold;
                        margin: auto 10px;
                        cursor: pointer;
                    }

                    &:hover{
                        background-color: $blue_var_3;
                    }

                    &::after{
                        content: '\002B';
                        color: $light_color;
                        font-size: 50px;
                        font-weight: 300;
                        float: right;
                        margin-left: 5px;
                    }
                }

                .active{
                    background-color: $blue_var_4;
                    border: 1px solid $blue_var_4;

                    &::after{
                        content: "\2212";
                    }
                }

                .content {
                    padding: 0 8px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    background-color: #f1f1f1;
                    border-radius: 8px;

                    .button-set{
                        padding-top: 8px;

                        .edit-btn, .dlt-btn{
                            color: white;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 2px 4px;
                            font-size: 0.8em;
                            i{margin-right: 8px;}
                        }
                        .edit-btn{
                            border: 2px solid $action_button;
                            background-color: $action_button;
                            &:hover{
                                background-color: $action_button_hover;
                                border-color: $action_button_hover;
                            }
                        }
                        .dlt-btn{
                            background-color: $delete_button;
                            border: $delete_button_border;
                            &:hover{
                                background-color: $delete_button_hover;
                                color: $delete_button_hover_color;
                            }
                        }
                    }
                    .quiz-head{
                        margin-top: 10px;
                        font-size: 20px;
                        font-weight: 400;
                        border-bottom: 2px solid #b2b2b2;
                        display: block;
                        padding: 0 10px;
                    }
                    ul{
                        list-style-type:none;
                        padding: 10px 10px 30px 10px;

                        li{
                            margin-bottom: 5px;
                            i {margin-right: 5px;}
                        }
                    }
                }
            }
        }
    }
}

/* ----------------------TOOLTIP ON EDIT QUIZ AND VIEW QUIZ START------------------------- */

.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip{
    .icon-tooltip, .text-tooltip{
        visibility: hidden;
        width: 80px;
        background-color: black;
        color: $light_color;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        top: 100%;
        left: 50%;
        margin-left: -40px;
        font-size: small;

            /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
}

.tooltip{
    .icon-tooltip::after, .text-tooltip::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }
}

.tooltip:hover{
    .icon-tooltip, .text-tooltip {
        visibility: visible;
    }
}

/* ----------------------TOOLTIP ON EDIT QUIZ AND VIEW QUIZ END------------------------- */
