@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}

/*==============================================================================*/
/*NAVIGATION BAR - START*/
/*==============================================================================*/
.siderbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width of the siderbar when toggle button is off */
  width: 78px;
  background: #1ebb7f;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

/* handles the width of the siderbar when toggle button is active */
.siderbar.active {
  width: 240px;
}

.logo_content {
  cursor: pointer;
}

.siderbar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 600;
}

.siderbar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.siderbar.active #btn {
  left: 90%;
}

.siderbar ul {
  margin-top: 20px;
}

.siderbar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.siderbar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.siderbar.active ul li .tooltip {
  display: none;
}

.siderbar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.siderbar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.siderbar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.siderbar ul li a:hover {
  color: #184e77;
  background: #fff;
}

.siderbar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.siderbar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.siderbar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.siderbar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.siderbar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1ebb7f;
  transition: all 0.4 ease;
}

.siderbar.active .profile_content .profile {
  background: none;
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.siderbar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4 ease;
  background: #1ebb7f;
  cursor: pointer;
}
.profile #log_out:hover {
  color: #184e77;
  background: #fff;
}

.siderbar.active .profile #log_out {
  left: 88%;
}

.siderbar.active .profile #log_out {
  background: none;
}

.siderbar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

/*==============================================================================*/
/*NAVIGATION BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*HOME CONTENT - START*/
/*==============================================================================*/
.home-content {
  height: 100%;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  margin-left: 78px;
  padding-top: 45px;
  /* background-color: #1d1b31; */
}

.home-content-expand {
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  margin-left: 240px;
}

/*==============================================================================*/
/*HOME CONTENT - END*/
/*==============================================================================*/
/*==============================================================================*/
/*POP UP - START*/
/*==============================================================================*/
.pop-up {
  display: none;
  position: fixed;
  bottom: 43px;
  right: 0;
  background-color: white;
  width: 375px;
  height: 576px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
}

.show {
  display: block;
  z-index: 10;
}

/*==============================================================================*/
/*POP UP - END*/
/*==============================================================================*/
/*==============================================================================*/
/*NOTIFICATION CONTAINER - START*/
/*==============================================================================*/
.notification-container {
  position: fixed;
  bottom: 67px;
  right: 24px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #1ebb7f;
  color: white;
  /* padding: 20px;
  margin: 10px;  */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 200ms opacity ease;
  z-index: 10;
  /* padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .05);
  transition: 200ms opacity ease;



  box-shadow: 0 12px 48px 4px rgb(0 0 0 / 12%); */
}

.bell-notification {
  font-size: 20px;
}

.hide {
  opacity: 0.3;
}

/*==============================================================================*/
/*NOTIFICATION CONTAINER - END*/
/*==============================================================================*/
/*==============================================================================*/
/*FOOTER - START*/
/*==============================================================================*/
footer {
  width: 100%;
  background: #1ebb7f;
  color: #fff;
  display: grid;
  place-items: center;
  /* padding: 2em;  */
  /* font-size: 1.2rem; */
}

footer p {
  padding: 0;
  margin: 1em 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

/*==============================================================================*/
/*FOOTER - END*/
/*==============================================================================*/
header {
  background-color: #00699a;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.details-container {
  display: flex;
  justify-content: center;
  width: 85%;
  flex-direction: column;
  margin: auto;
}

.add-button {
  float: right;
  font-size: 16px;
  max-width: 250px;
  background-color: #00699a;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 50px;
  margin: 2rem 0 0 auto;
  border: 2px solid #00699a;
  cursor: pointer;
}
.add-button:hover {
  background-color: #008bcc;
  border: 2px solid #008bcc;
}

/*==============================================================================*/
/*SEARCH BAR - START*/
/*==============================================================================*/
.search-bar {
  max-width: 300px;
  float: left;
  margin-top: 10px;
}

form.search-bar input[type=text] {
  padding: 5px 20px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 20px 0 0 20px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search-bar button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #00699a;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

form.search-bar button:hover {
  background: #00699a;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

/*==============================================================================*/
/*SEARCH BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*USER TYPE BAR - START*/
/*==============================================================================*/
.user-type {
  border: 2px solid white;
  margin: 30px 0 5px 0;
  width: fit-content;
  float: left;
  display: inline-flex;
  border-radius: 5px;
}

.type {
  border: none;
  margin: 0;
  padding: 10px;
  background-color: #00699a;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #00699a;
}
.type:hover {
  background-color: white;
  color: #00699a;
}

.active-type {
  background-color: #00699a;
}

#lec {
  margin-left: 3px;
  margin-right: 3px;
}

/*==============================================================================*/
/*USER TYPE BAR - END*/
/*==============================================================================*/
/*==============================================================================*/
/*USER DETAILS TABLE - START*/
/*==============================================================================*/
/* .center {
    margin: auto;
    width: 50%;
    padding: 10px;
} */
.table-container {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  width: 85%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.content-table thead tr {
  background-color: #00699a;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table th {
  padding: 12px 15px;
  font-size: 20px;
  font-weight: 500;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:hover {
  background-color: #fff;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0 inset;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #00699a;
}

.content-table tbody {
  font-weight: bold;
}

/*==============================================================================*/
/*USER DETAILS TABLE - END*/
/*==============================================================================*/
/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - START*/
/*==============================================================================*/
.button {
  display: flex;
  height: 40px;
  padding: 0;
  background-color: #00699a;
  border: 2px solid #00699a;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background: #008bcc;
  border: 2px solid #008bcc;
}
.button:active {
  background: #00699a;
  color: #fff;
}
.button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}
.button__text:hover {
  color: white;
}

/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - END*/
/*==============================================================================*/

/*# sourceMappingURL=user_details.css.map */
