@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
<<<<<<< HEAD
// #1B3B56
// #677381


header {
  background-color: $theme_second;
  color: white;
=======
$table_color: #1B3B56;
$second_color: #009879;
$light_color: white;
$grey: darkgrey;
$view_button_color: #009578;
$view_button_hover_color: #008168;
$view_button_active_color: #006e58;


header {
  background-color: $table_color;
  color: $light_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  padding: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.details-container {
  display: flex;
  justify-content: center;
  width: 85%;
  flex-direction: column;
  margin: auto;
}

.add-button {
  float: right;
  font-size: 16px;
<<<<<<< HEAD
  max-width: 250px;
  background-color: $theme_second;
  border: none;
=======
  max-width: 200px;
  background-color: $second_color;
  border: 2px solid $second_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  border-radius: 5px;
  color: $light_color;
  font-weight: bold;
  padding: 10px 50px;
  margin: 2rem 0 0 auto;
  border: 2px solid $theme_second;
  cursor: pointer;

  &:hover {
    //background-color: $table-color;
<<<<<<< HEAD
    background-color: $theme_second_hover;
    border: 2px solid $theme_second_hover;
    // color: $theme_second;
=======
    border: 2px solid $second_color;
    background-color: $light_color;
    color: #009879;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  }
}

/*==============================================================================*/
/*SEARCH BAR - START*/
/*==============================================================================*/

.search-bar {
  max-width: 300px;
  float: left;
  margin-top: 10px;
}

form.search-bar input[type=text] {
  padding: 5px 20px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 20px 0 0 20px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search-bar button {
  float: left;
  width: 20%;
<<<<<<< HEAD
  padding: 5px;
  background: $theme_second;
  color: white;
=======
  padding: 10px;
  background: #009879;
  color: $light_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  font-size: 17px;
  border: 1px solid $grey;
  border-left: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

form.search-bar button:hover {
  background: $theme_second;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

/*==============================================================================*/
/*SEARCH BAR - END*/
/*==============================================================================*/


/*==============================================================================*/
/*USER TYPE BAR - START*/
/*==============================================================================*/

.user-type {
<<<<<<< HEAD
  border: 2px solid white;
=======
  background-color: $light_color;
  border: 2px solid $grey;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  margin: 30px 0 5px 0;
  width: fit-content;
  float: left;
  display: inline-flex;
  border-radius: 5px;
}

.type {
  border: none;
  margin: 0;
  padding: 10px;
<<<<<<< HEAD
  background-color: $theme_second;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;

  &:hover{
    background-color: white;
    color: $theme_second;
  }
}

.active-type {
  background-color: $theme_second;
}

#lec {
  border-left: 2px solid white;
  border-right: 2px solid white;
=======
  background-color: $light_color;
}

.active-type {
  background-color: $second_color;
}

#lec {
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
}


/*==============================================================================*/
/*USER TYPE BAR - END*/
/*==============================================================================*/


/*==============================================================================*/
/*USER DETAILS TABLE - START*/
/*==============================================================================*/

/* .center {
    margin: auto;
    width: 50%;
    padding: 10px;
} */

.table-container {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  width: 85%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.content-table thead tr {
<<<<<<< HEAD
  background-color: $theme_second;
  color: #ffffff;
=======
  background-color: $table_color;
  color: $light_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table th {
  padding: 12px 15px;
  font-size: 20px;
  font-weight: 500;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;

  &:hover {
    background-color: $light_color;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0 inset;

  }
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid $theme_second;
}

.content-table tbody {
  font-weight: bold;
<<<<<<< HEAD
  //color: $theme_second;
=======
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
}

/*==============================================================================*/
/*USER DETAILS TABLE - END*/
/*==============================================================================*/

/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - START*/
/*==============================================================================*/

.button {
  display: flex;
  height: 40px;
  padding: 0;
<<<<<<< HEAD
  //background: $view_button_color;
  //border: none;
  //outline: none;
  background-color: $theme_second;
  border: 2px solid $theme_second;
=======
  background-color: $light_color;
  border: 2px solid $table_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
<<<<<<< HEAD
    color: #fff;
    background: $theme_second_hover;
    border: 2px solid $theme_second_hover;
  }

  &:active {
    background: $theme_second;
    color: #fff;
=======
    background: $table_color;
    color: $light_color;
  }

  &:active {
    background: $table_color;
    color: $light_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
  }

  &__text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
<<<<<<< HEAD
    //color: #fff;
    color: white;
=======
    color: $table_color;
>>>>>>> 5a0bf596f653d98df4ffef410d60459a2f3e0407
    height: 100%;

    &:hover {
      color: $light_color;
    }
  }

}


/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - END*/
/*==============================================================================*/