@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";


.details-container {
  display: flex;
  justify-content: center;
  width: 85%;
  flex-direction: column;
  margin: auto;
}

.add-button {
  float: right;
  font-size: 16px;
  max-width: 250px;
  background-color: $action_button;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 50px;
  margin: 0;
  border: 2px solid $action_button;
  cursor: pointer;

  &:hover {
    //background-color: $table-color;
    background-color: $action_button_hover;
    border: 2px solid $action_button_hover;
    // color: $theme_second;
  }
}

.filter-container{
  display: inline;
  margin: 20px 0 5px 0;
}


/*==============================================================================*/
/*SEARCH BAR - START*/
/*==============================================================================*/

.search-bar {
  width: 450px;
  float: left;
}

form.search-bar input[type=text] {
  padding: 5px 20px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 20px;
  float: left;
  width: 85%;
  background: #f1f1f1;
}

/*==============================================================================*/
/*SEARCH BAR - END*/
/*==============================================================================*/


/*==============================================================================*/
/*USER TYPE BAR - START*/
/*==============================================================================*/

.user-type {
  border: none;
  //border: 2px solid white;
  //margin: 30px 0 5px 0;
  margin-left: 10px;
  width: fit-content;
  float: left;
  display: inline-flex;
  border-radius: 5px;
}

.type {
  margin: 0;
  padding: 7px 10px 7px 10px;
  background-color: $filter_button;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $filter_button;

  &:hover{
    background-color: white;
    color: $filter_button;
  }
}


#lec {
  margin-left: 3px;
  margin-right: 3px;
}


/*==============================================================================*/
/*USER TYPE BAR - END*/
/*==============================================================================*/


/*==============================================================================*/
/*YEAR SELECTION - START*/
/*==============================================================================*/

.year-selection{
  margin: 10px 0 5px 0;

  label{color: dimgrey;}

  select{
    border: 1px solid $filter_button;
    padding: 2px 22px;
    border-radius: 8px;

    option{
      &:hover{
        background-color: #e8f8ff;
      }
    }
  }
}


/*==============================================================================*/
/*YEAR SELECTION - END*/
/*==============================================================================*/


/*==============================================================================*/
/*USER DETAILS TABLE - START*/
/*==============================================================================*/

/* .center {
    margin: auto;
    width: 50%;
    padding: 10px;
} */

.table-container {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  width: 85%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}

.content-table thead tr {
  background-color: $table_head;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table th {
  padding: 12px 15px;
  //font-size: 20px;
  font-weight: bold;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;

  &:hover {
    background-color: #fff;
  }
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid $table_head;
}

.content-table tbody {
  //color: $theme_second;
}

/*==============================================================================*/
/*USER DETAILS TABLE - END*/
/*==============================================================================*/

/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - START*/
/*==============================================================================*/

.button {
  display: flex;
  height: 40px;
  padding: 0;
  background-color: $action_button;
  border: 2px solid $action_button;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $action_button_hover;
    border: 2px solid $action_button_hover;
  }

  &:active {
    background: $theme;
    color: #fff;
  }

  &__text {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    //color: #fff;
    color: white;
    height: 100%;

    &:hover {
      color: white;
    }
  }

}


/*==============================================================================*/
/*USER DETAILS VIEW BUTTON - END*/
/*==============================================================================*/

/*==============================================================================*/
/*BUTTON ACTIVE - START*/
/*==============================================================================*/

.active-type {
  background-color: white !important;
  color: $filter_button !important;
}

/*==============================================================================*/
/*BUTTON ACTIVE - END*/
/*==============================================================================*/

.hidden-year{
  display: none;
}
