@import "./0_global_variables.scss";
@import "./1_main.scss";
@import "./2_navigation_bar.scss";
@import "./3_notification.scss";
@import "./4_footer.scss";

//LOCAL VARIABLES
$main_color: $theme_second;
$light_color: #FFF;

.details-content {
  padding: 1rem;
  width: 70%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: auto auto 30px auto;
  overflow: hidden;

  .header-container{
    header{
      margin: 20px 10px;
      align-items: center;
      display: flex;
    }
    .fa-circle{
      font-size: 20px;
      margin-left: 10px;
      color: #4caf50;
    }
  }

  .button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;

    .main-btn {
      padding: 6px 12px;
      background-color: $main_color;
      color: $light_color;
      border-radius: 5px;
      border: 2px solid $main_color;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 5px;
      display: block;

      .fa-play, .fa-stop{margin-right: 5px;}

      &:hover {
        background-color: $theme_second_hover;
        border: 2px solid $theme_second_hover;
      }
    }
  }

  .session-details-container{

    .sessions{
      padding-bottom: 2rem;
      margin-left: 10px;

      .add-btn {
        padding: 3px 6px;
        background-color: $light_color;
        color: $main_color;
        border-radius: 5px;
        border: 2px solid $main_color;
        font-size: 12px;
        font-weight: bold;
        float: right;
        cursor: pointer;

        .fa-plus{margin-right: 5px;}

        &:hover {
          background-color: $theme_second_hover;
          border: 2px solid $theme_second_hover;
          color: $light_color;
        }
      }

      .session-label{
        font-weight: bold;
        a{text-decoration: none;}
      }

      .session{
        display: flex;
        align-items: center;
        background-color: #2b4f820d;
        border-radius: 5px;
        margin: 5px 0;
        padding: 10px;
        justify-content: space-between;

        .vote{
          display: flex;
          flex-direction: column;
          align-items: center;
          .fa-thumbs-o-up{font-size: 24px;}
          .votes-count{font-size: small;}
        }

        .publish-status{cursor: pointer}
      }

      .inactive{color: #ccc;}
    }
  }
}

