/*Stylesheet of the create quiz page*/

:root {
    --main-color: #1FB880;
    --light-color: white;
    --color-grey: #a1a1a1;
}

* {
    font-family: "Segoe UI", serif;
    margin: 0;
    padding: 0;
}

/*should be removed*/
.sidebar {
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--light-color);
    z-index: 100;
    transition: width 300ms;
    overflow-y: auto;
}

.quiz-content {
    margin-left: 240px;
    width: calc(100% - 240px);
}

header {
    padding-top: 5%;
}

h1 {
    text-align: center;
}

.text {
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    height: 0.05rem;
}

.form-content {
    padding: 1rem;
    width: 500px;
    margin: auto;
    /*border: 1px solid var(--main-color);*/
}

.form {
    /*margin-bottom: 0.2rem;*/
    /*border: 2px solid #1f4bc4;*/
    border-radius: 4px;
    padding: 0.5rem;
}

.form-header {
    margin: 0.5rem 0;
    /*padding-right: 1rem;*/
}

.question-content {
    margin: 1rem 0;
    padding: 0;
}

.form-question, .form-shortanswer {
    margin-bottom: 1rem;
    height: 4rem;
    width: 100%; /*should be changed to resize with the window size*/
}

.answer {
    display: inline-flex;
}

.form-answer {
    width: 80%;
    margin-bottom: 0.275rem;
    margin-right: 8px;
    padding-right: 215px;
}

.points {
    width: 40px;
    height: min-content;
    margin-right: 10px;
}

.button {
    color: var(--light-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.get {
    padding: 5px 8px 5px 8px;
}

.plus {
    padding: 4px 6px 4px 6px;
}

.finish {
    /*float: right;*/
    width: 5rem;
    margin: 6px 0 6px 6px;
    padding: 4px;
    color: var(--light-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.qtype {
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    width: 10rem;
    /*border-top: 5px solid var(--main-color);*/
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#choicemcq {
    border-top: 5px solid var(--main-color);
    padding: 0 3.8rem;
}

#choiceshort {
    border-top: 5px solid var(--light-color);
}

.question-content {
    display: none;
}

.question-content:target {
    display: block;
}

.title {
    padding-right: 5rem;
}

.buttonset {
    margin-left: 320px;
}